<%- include("header") -%>
<body>
  <div class="box" id="heading">
    <div id="tooltip" role="tooltip"><%= listDate %></div>
    <h1 id="title"><%= listTitle %></h1>
  </div>

  <div class="box" id="items">
    <% if (newListItems.length !== 0) { %>
      <% newListItems.forEach((item) => { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" value='<%= item.id %>' name='checkbox' onchange="this.form.submit()">
            <p><%= item.name %></p>
            <input type='hidden' name='list' value='<%= listTitle %>'>
          </div>
        </form>
      <% }) %>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>
  <script src='https://unpkg.com/@popperjs/core@2'></script>
  <script>
    const title = document.querySelector('#title')
    const tooltip = document.querySelector('#tooltip')

    Popper.createPopper(title, tooltip, {
      placement: 'top'
    })
  </script>
</body>
<%- include("footer") -%>
